<!DOCTYPE html>
<html>
    <head>
        <title>Deposit Slip</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
<div class="main0-content">
{{>header}}
<form id="form0" action="/index" method="GET">
                <h5>Please Select the Digital Slips to help you today</h5>
                <input class="btn" type="submit" id="btnsubmit" value="Deposit Slip"></t>
               
</form>
</div>
</body>
</html>
